/* START : Header section*/

nav ul {
    width: 300px;
}

/* END : Header section*/

/* START: Accommodation section*/

.accommodations-section {
    flex-wrap: wrap-reverse;
}

.accommodations-content {
    padding: 20px;
}

.hotel-cards-list {
    display: flex;
}

.hotel-cards-list-row {
    flex-direction: column;
    flex: 1;
}

.accommodations-most-popular {
    flex-basis: 100%;
    margin-bottom: 20px;
}

.accommodations-city {
    height: 670px;
    margin-right: 0;
    flex-basis: 100%;
}

.hotel-card,
.hotel-card:last-child {
    margin: 0 10px 10px 0;
}

/* END: Accommodation section*/

/* START : Activities section */

.activities-list {
    column-gap: 15px;
}

.five-activity, .six-activity {
    margin-bottom: 5px;
}

.two-activity {
    margin-bottom: 15px;
}

/* END : Activities section */
